/********************************************/
/* 			GENERAL CSS rules  				*/
/********************************************/

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: white;
	font-weight: 800;
}

html {
	min-width: 100vw; 
	min-height: 100vh;
	overflow-x: hidden;
	background-image: url('../img/nightsky.jpg');
	background-repeat: no-repeat;
	background-size: 120% auto;

	animation: animatedBackground 60s linear infinite;
}

@keyframes animatedBackground {
	0% { background-position: 0 0; }
	50% { background-position: 100% 0; }
	100% { background-position: 0 0; }
}

body { 
	margin: 0;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
}

.main {
	width: 978px;
	position: relative;
	min-height: 700px;
	margin: 0 auto;
	border-top: none;
	overflow: hidden;
}

audio {
	position: absolute;
	top: 0;
	right: -200px;
}

/********************************************/
/* 			Frontpage CSS rules 			*/
/********************************************/

.main-info-left {
	width: 60%;
	left: 0; 
	display: inline-block;
	position: relative;
}

.main-info-left img {
	width: 50%;
	position: absolute;
	height: auto;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: 100px;
}


.main-info-left h1, .main-info-left p {
	width: 60%;
	margin: 0 20%;
	text-align: center;
	overflow: hidden;
}

.main-info-left h1 {
	font-size: 2rem;
	margin-top: 350px;
	margin-bottom: 15px;
}

.front-page-nav {
	width: 0px;
	height: 550px;
	float: right;
	top: -700px;
	display: inline-block;
	border-left: 10px solid #BCCBCE;
	position: relative;
	margin-right: 270px;

	animation: navappear 4s linear;
	animation-fill-mode: forwards; 
}

@keyframes navappear {
	from { top: -700px; }
	to { top: -10px; }
}

.front-page-nav ul {
	width: 200px;
	height: 450px;
	left: -105px;
	top: 50px;
	position: absolute;
	list-style: none;
}

.front-page-nav ul li {
	width: 100%;
	height: 200px;
	background-color: #BCCBCE;
	display: block;
	margin-bottom: 25px;
	text-align: center;
	font-size: 1.2rem;
	border-radius: 15px;
	position: relative;
}

.front-page-nav ul li img:nth-child(2) {
	width: 150px;
	height: auto;
	display: block;
	margin: 0px auto 5px auto;
	padding-top: 10px;
}

.stars {
	width: 40px;
	height: auto;
	position: absolute;
	right: -20px;
	top: -20px;
	display: none;
}

.front-page-nav ul li:hover .stars {
	display: inline-block;
}



/********************************************/
/* 		GENERAL CSS for other pages			*/
/********************************************/

.ext-nav {
	display: block;
	width: 100%;
	height: 100px;
}

.wrap-tilbake {
	width: 100px;
	height: 40px;
	top: -75px;
	border: 5px solid #BCCBCE;
	left: 100px;
	position: relative;
	display: inline-block;

	animation: backappear 1s linear;
	animation-fill-mode: forwards; 
	animation-delay: 1s;
}

@keyframes backappear {
	from { top: -75px; }
	to { top: -10px; }
}

.tilbake {
	position: absolute;
	width: 150px;
	height: 30px;
	padding: 5px 0;
	top: 25px;
	left: -25px;
	background-color: #BCCBCE;
	border-radius: 10px;
	text-align: center;
	font-size: 1.3rem;
}

.wrap-menu-display {
	width: 100px;
	height: 40px;
	border: 5px solid #BCCBCE;
	float: right;
	position: relative;
	top: -300px;
	right: 125px;

	animation: itemapear 2s linear;
	animation-fill-mode: forwards; 
}

@keyframes itemapear {
	from { top: -300px; }
	to { top: -10px; }
}

.menu-display {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 25px;
	left: -50px;
	border-radius: 10px;
	background-color: #BCCBCE;
	text-align: center;
	font-size: 1.2rem;
}

.menu-display img {
	width: 150px;
	height: auto;
	display: block;
	margin: 0px auto 5px auto;
	padding-top: 10px;
}

header {
	width: 55%;
	position: relative;
	display: block;
	left: 75px;
}

header h1 {
	margin-bottom: 10px;
}

.main-section {
	width: calc(100% - 150px);
	margin: 0 auto; 
	min-height: 200px;
	margin-top: 50px;
	position: relative;
}

/********************************************/
/* 		CSS for amount pages				*/
/********************************************/

.amount h1:nth-child(1){
	font-size: 2rem;
	text-decoration: underline;
	margin-bottom: 20px;
}

.amount ul {
	width: 530px;
	list-style: none;
	display: block;
}

.amount ul li {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 5px solid transparent;
	background-color: #BCCBCE;
	display: inline-block;
	margin: 0 30px 30px 0;
	text-align: center;
	line-height: 140px;
	font-size: 2rem;
}

.amount ul a:nth-child(3) li, .amount ul a:nth-child(6) li{
    margin-right: 0;
}

.amount ul a:nth-child(n+4) li {
    margin-bottom: 0;
}

.amount ul li:hover {
	border-color: white;
}

.amount ul li a:target {
	border-color: white;
}

.amount .result {
	position: absolute;
	right: 0;
	top: 70px;
	height: 220px;
	width: 250px;
}

.amount .result p{
	padding-top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	font-size: 1.6rem;
	background-color: #BCCBCE;
	height: 0px;
	overflow: hidden;
	z-index: 3;
	transition: all 1s ease-out;
}

#age1:target {
	padding-top: 20px;
	height: 100%;
}

#age1:target #button1{
	border-color: white;
}

#age2:target {
	padding-top: 20px;
	height: 100%;
}

#age3:target {
	padding-top: 20px;
	height: 100%;
}

#age4:target {
	padding-top: 20px;
	height: 100%;
}

#age5:target {
	padding-top: 20px;
	height: 100%;
}

#age6:target {
	padding-top: 20px;
	height: 100%;
}

.amount .result p span, .amount .result p a{
	display: block;
}

.amount .result p span{
	font-size: 4rem;
}

.amount .result p a {
	padding-right: 30px;
	text-align: right;
	text-decoration: underline;
}

.amount .tips {
	position: absolute;
	right: 0;
	top: 70px;
	height: 300px;
	width: 250px;
	background-color: #BCCBCE;
	overflow: hidden;
	height: 0;
	z-index: 2;
	transition: all 1s ease-out;
	transition-delay: 0.8s;
}

#agetip:target {
 	height: 350px;
}

.tips h3 {
	text-align: center;
	margin-top: 10px;
	font-size: 1.4rem;
	text-decoration: underline;
}

.tips ol {
	margin-left: 35px;
	width: 80%;
}

/********************************************/
/* 			CSS for game pages				*/
/********************************************/

.game {
	width: 580px;
	background-color: #69DAFF;
	height: 400px;
	display: inline-block;
	overflow: hidden;
	position: relative;
	box-shadow: inset 0px 0px 20px 0px rgba(0,24,72,0.75);
}

.game:hover .game-opacity {
	top: -400px;
}

.game:hover {
	transition: all 25s ease-out;
	background-color: #180c2f;
}

.game-opacity {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #001848;
	opacity: 0.5;
	top: 0;
	text-align: center;
	z-index: 10;
	transition: all 1s ease-out;
}

.game-opacity h3 {
	width: 350px;
	text-align: center;
	padding: 20px 10px;
	border: 5px solid white;
	border-radius: 15px;
	margin: 160px 100px;
}

.gameresult {
	width: 200px;
	background-color: #001848;
	position: absolute;
	left: 0;
	right: 0;
	top: -120px;
	margin: 0 auto;
	text-align: center;
	z-index: 20;
	transition: all 2s ease;
}

.game:hover .gameresult {
	display: none;
}

.gameresult h3 {
	font-size: 1.5rem;
	margin: 10px 0;
}

.gameresult a {
	display: block;
	margin: 10px 0;
	text-align: right;
	margin-right: 40px;
	text-decoration: underline;
}

#congrats:target {
	top: 0px;
}

#loss:target {
	top: 0px;
}

#fence {
	position: absolute;
	bottom: 40px;
	width: 150%;
	height: auto;
	z-index: 5;
}

#ground {
    position: absolute; 
    height: 150px;
    width: 100%; 
    background-color: #00aa34;
    bottom: 0; 
    z-index: 3; 
}

.game:hover #ground{
	transition: all 25s ease-out;
	background-color: #003200;
}

#moon {
	position: absolute;   
	/*top: -25px;
	left: 50px; */
	top: 250px;
	left: -100px;
	height: 100px;
	width: 100px;
	border-radius: 175px;
	background: #E1E1D6;
	z-index: 1;
}

.game:hover #moon{
	animation: moonup 10s linear;
	animation-fill-mode: forwards;
	animation-delay: 6s; 
}

@keyframes moonup {
    from {top: 250px; left: -100px; height: 100px; width: 100px;}
    to {top: -25px; left: 50px; height: 125px; width: 125px;}
}

#sun {
	position: absolute;   
	top: -50px;
	left: 350px; 
	height: 150px;
	width: 150px;
	border-radius: 175px;
	background: #FFF97B;
	z-index: 1;
}            

.game:hover #sun{
	animation: solnedgang 10s linear;
	animation-fill-mode: forwards;
}

@keyframes solnedgang {
    from {top: -50px; left: 350px; background-color: #FFF97B; width: 150px; height: 150px;}
    to {top: 250px; left: 550px; background-color: #B2B200; width: 100px; height: 100px;}
}

.cloud {   
    background: #FFF;
    width: 140px;
    height: 45px;
    border-radius: 35px;
    position: absolute;
}

.game:hover #cloud1 {
	transition: all 13s ease-out;
	opacity: 0;
}

.game:hover #cloud2 {
	transition: all 13s ease-out;
	opacity: 0;
}
        
.circle1 {
    height: 60px;
    width: 60px;
    background: #FFF;
    border-radius: 35px;
    position: absolute;
    left: 15px;
    bottom: 3px;
}
        
.circle2 {
    height: 70px;
    width: 70px;
    background: #FFF;
    border-radius: 50px;
    position: absolute;
    right: 15px;
    bottom: 5px;
}
        
#cloud1 {
    left: 100px;
    top: 120px;
    -webkit-animation: sky1 15s infinite; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    opacity: 0.8; 
}
        
@-webkit-keyframes sky1 {
    from {left: 150px;}
    to {left: 70px;}
}           

#cloud2 {
    left: 370px;
    top: 70px;
    transform: scale(1.5);
    z-index: 8;
    -webkit-animation: sky2 35s infinite; /* Chrome, Safari, Opera */
    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
    opacity: 0.8; 
    
}
@-webkit-keyframes sky2 {
    from {left: 300px;}
    to {left: 470px;}
}

.game-sheep {
	height: 400px;
	width: auto;
	top: -120px;
	right: -200px;
	position: absolute;
	z-index: 4;
}

.game:hover #sheep1 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
}

.game:hover #sheep2 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
	animation-delay: 1s;
}

.game:hover #sheep3 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
	animation-delay: 3s;
}

.game:hover #sheep4 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
	animation-delay: 5s;
}

.game:hover #sheep5 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
	animation-delay: 6s;
}

.game:hover #sheep6 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
	animation-delay: 9s;
}

.game:hover #sheep7 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
	animation-delay: 10s;
}

.game:hover #sheep8 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
	animation-delay: 12s;
}

.game:hover #sheep9 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
	animation-delay: 14s;
}

.game:hover #sheep10 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
	animation-delay: 16s;
}

.game:hover #sheep11 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
	animation-delay: 18s;
}

.game:hover #sheep12 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
	animation-delay: 19s;
}

.game:hover #sheep13 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
	animation-delay: 22s;
}

.game:hover #sheep14 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
	animation-delay: 24s;
}

.game:hover #sheep15 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
	animation-delay: 25s;
}

.game:hover #sheep16 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
	animation-delay: 27s;
}

.game:hover #sheep17 {
	animation: sheepmoveone 4s linear;
	animation-fill-mode: forwards; 
	animation-delay: 29s;
}

@keyframes sheepmoveone {
	0% { right: -200px; top: -65px; z-index: 4;}
	10% { top: -55px; z-index: 4; }
	20% { top: -65px; z-index: 4; }
	30% { top: -55px; z-index: 4; }
	40% { top: -120px; z-index: 4;}
	50% { top: -125px; z-index: 6; }
	60% { top: -10px; z-index: 6; }
	70% { top: -15px; z-index: 6; }
	80% { top: -5px; z-index: 6; }
	90% { top: -15px; z-index: 6; }
	100% { right: 580px; top: -10px;}
}

#finished {
	font-size: 2rem;
	display: inline-block;
	padding: 20px 30px;
	border: 3px solid white;
	border-radius: 15px;
	position: absolute;
	top: 150px;
	right: -350px;
	z-index: 7;
}

.game:hover #finished {
	animation: finished 3s linear;
	animation-fill-mode: forwards; 
	animation-delay: 33s;
}

@keyframes finished {
	from {right: -350px;}
	to {right: 130px;}
}

.game-guess {
	width: 25%;
	position: absolute;
	display: inline-block;
	top: 0;
	right: 0;
	text-align: center;
}

.game-guess h1 {
	font-size: 1.6rem;
	margin-bottom: 10px;
}

.game-guess ul {
	list-style: none;
}

.game-guess ul li{
	font-size: 1.5rem;
	padding: 5px;
	margin: 10px 0;
	border: 2px solid white;
	border-radius: 15px;
}

.game-guess ul li:hover{
	background-color: white;
	color: #BCCBCE;
}

/********************************************/
/* 			CSS for story pages				*/
/********************************************/

.story {
	width: 80%;
	background-color: white;
	height: 390px;
	border: 5px solid #BCCBCE;
	display: inline-block;
	position: relative;
	margin: 20px 10%;
	overflow: hidden;
}

.story:hover {
	animation: backgroundchange 3s linear;
	animation-fill-mode: forwards; 
	animation-delay: 20s;
}

@keyframes backgroundchange {
	from { background-color: white;}
	to {background-color: black;}
}

.story:hover .story-start {
	transition: all 3s linear;
	top: -410px;
}

.story-start {
	width: 100%; 
	height: 100%;
	top: 0;
	background-color: #BCCBCE;
	position: absolute;
	z-index: 10;
}

.story-start img {
	width: 100%; 
	min-height: 100%;
	height: auto;
}

.story-start h3 {
	position: absolute;
	top: 30px;
	text-align: center;
	width: 100%;
	font-size: 3rem;
	color: white;
}

.story-start span {
	display: block;
	color: white;
	font-size: 1.5rem;
}

.storyline {
	width: 100%;
	height: 100%;
	position: relative;
}

.storyline h3 {
	color: black;
	font-size: 2rem;
	text-align: center;
	position: absolute;
	top: 150px;
	left: 0;
	right: 0;
}

.story:hover .storyline h3  {
	animation: storylineheader 2s linear;
	animation-fill-mode: forwards; 
	animation-delay: 5s;
}

@keyframes storylineheader {
	from { top: 150px; font-size: 2rem;}
	to {top: 10px; font-size: 1.3rem; text-decoration: underline;}
}

.homersleeping {
	position: absolute;
	top: 100px;
	height: 250px;
	left: -350px;
	width: auto;
}

.story:hover .homersleeping {
	animation: homermove 5s linear;
	animation-fill-mode: forwards; 
	animation-delay: 5s;
}

@keyframes homermove {
	from { left: -350px;}
	to {left: 700px;}
}

.homerface {
	height: 100px;
	width: auto;
	position: absolute;
	bottom: -100px;
	right: 0;
}


.story:hover .homerface  {
	animation: homerface 2s linear;
	animation-fill-mode: forwards; 
	animation-delay: 10s;
}

@keyframes homerface {
	from { bottom: -100px;}
	to {bottom: 0;}
}

#talkingbubble {
	position: absolute;
	width: 200px;
	height: 150px;
	bottom: 30px;
	right: 80px;
	opacity: 0;
}

.story:hover #talkingbubble  {
	animation: talkingbubble 2s linear;
	animation-fill-mode: forwards; 
	animation-delay: 12s;
}

@keyframes talkingbubble {
	from { opacity: 0;}
	to {opacity: 1.0;}
}

#talkingbubble span {
	position: absolute;
	top: 0;
	background-color: white;
	font-size: 0.8rem;
	color: black;
	z-index: 10;
	width: 150px;
	height: 65px;
	border-radius: 50%;
	text-align: center;
	padding: 25px;
	z-index: 2;
	border: 2px solid black;
}

.story:hover #talkingbubble span {
	animation: talkingbubbletext 2s linear;
	animation-fill-mode: forwards; 
}

.story:hover #talkingbubble #text1 {
	animation-delay: 18s;
}

.story:hover #talkingbubble #text2 {
	animation-delay: 21s;
}

.story:hover #talkingbubble #text3 {
	animation-delay: 221s;
}

.story:hover #talkingbubble #text4 {
	animation-delay: 230s;
}

.story:hover #talkingbubble #text5 {
	animation-delay: 250s;
}

.story:hover #talkingbubble #text6 {
	animation-delay: 270s;
}

.story:hover #talkingbubble #text7 {
	animation-delay: 290s;
}

.story:hover #talkingbubble #text8 {
	animation-delay: 310s;
}

.story:hover #talkingbubble #text9 {
	animation-delay: 330s;
}

.story:hover #talkingbubble #text10 {
	animation-delay: 350s;
}

.story:hover #talkingbubble #text11 {
	animation-delay: 370s;
}


@keyframes talkingbubbletext {
	from { z-index: 2;}
	to {z-index: -1;}
}