/********************************************/
/* 			GENERAL CSS rules  				*/
/********************************************/

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: white;
	font-weight: 800;
}

html {
	min-width: 100vw; 
	min-height: 100vh;
	overflow: hidden;
	background-image: url('../img/nightsky.jpg');
	background-repeat: no-repeat;
	background-size: 120% auto;

	animation: animatedBackground 60s linear infinite;
}

@keyframes animatedBackground {
	0% { background-position: 0 0; }
	50% { background-position: 100% 0; }
	100% { background-position: 0 0; }
}

body { 
	margin: 0;
	padding: 0;
}

a {
	color: white;
	text-decoration: none;
}

.main {
	width: 978px;
	position: relative;
	min-height: 700px;
	margin: 0 auto;
	border-top: none;
}

/********************************************/
/* 			Frontpage CSS rules 			*/
/********************************************/

.main-info-left {
	width: 60%;
	left: 0; 
	display: inline-block;
	position: relative;
}

.main-info-left img {
	width: 50%;
	position: absolute;
	height: auto;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: 100px;
}


.main-info-left h1, .main-info-left p {
	width: 60%;
	margin: 0 20%;
	text-align: center;
	overflow: hidden;
}

.main-info-left h1 {
	font-size: 2rem;
	margin-top: 350px;
	margin-bottom: 15px;
}

.front-page-nav {
	width: 25%;
	height: 550px;
	float: right;
	top: -700px;
	display: inline-block;
	border-left: 10px solid #BCCBCE;
	position: relative;

	animation: navappear 4s linear;
	animation-fill-mode: forwards; 
}

@keyframes navappear {
	from { top: -700px; }
	to { top: -10px; }
}

.front-page-nav ul {
	width: 200px;
	height: 450px;
	left: -105px;
	top: 50px;
	position: absolute;
	list-style: none;
}

.front-page-nav ul li {
	width: 100%;
	height: 200px;
	background-color: #BCCBCE;
	display: block;
	margin-bottom: 25px;
	text-align: center;
	font-size: 1.2rem;
	border-radius: 15px;
}

.front-page-nav ul li img {
	width: 150px;
	height: auto;
	display: block;
	margin: 0px auto 5px auto;
	padding-top: 10px;
}

/********************************************/
/* 		GENERAL CSS for other pages			*/
/********************************************/

.ext-nav {
	display: block;
	width: 100%;
	height: 100px;
}

.wrap-tilbake {
	width: 100px;
	height: 40px;
	top: -75px;
	border: 5px solid #BCCBCE;
	left: 100px;
	position: relative;
	display: inline-block;

	animation: backappear 1s linear;
	animation-fill-mode: forwards; 
	animation-delay: 1s;
}

@keyframes backappear {
	from { top: -75px; }
	to { top: -10px; }
}

.tilbake {
	position: absolute;
	width: 150px;
	height: 30px;
	padding: 5px 0;
	top: 25px;
	left: -25px;
	background-color: #BCCBCE;
	border-radius: 10px;
	text-align: center;
	font-size: 1.3rem;
}

.wrap-menu-display {
	width: 100px;
	height: 40px;
	border: 5px solid #BCCBCE;
	float: right;
	position: relative;
	top: -300px;
	right: 125px;

	animation: itemapear 2s linear;
	animation-fill-mode: forwards; 
}

@keyframes itemapear {
	from { top: -300px; }
	to { top: -10px; }
}

.menu-display {
	position: absolute;
	width: 200px;
	height: 200px;
	top: 25px;
	left: -50px;
	border-radius: 10px;
	background-color: #BCCBCE;
	text-align: center;
	font-size: 1.2rem;
}

.menu-display img {
	width: 150px;
	height: auto;
	display: block;
	margin: 0px auto 5px auto;
	padding-top: 10px;
}

header {
	width: 55%;
	position: relative;
	display: block;
	left: 75px;
}

header h1 {
	margin-bottom: 10px;
}

.main-section {
	width: calc(100% - 150px);
	margin: 0 auto; 
	min-height: 200px;
	margin-top: 50px;
	position: relative;
}

/********************************************/
/* 		CSS for amount pages				*/
/********************************************/

.amount h1:nth-child(1){
	font-size: 2rem;
	text-decoration: underline;
	margin-bottom: 20px;
}

.amount ul {
	width: 530px;
	list-style: none;
	display: block;
}

.amount ul li {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 5px solid transparent;
	background-color: #BCCBCE;
	display: inline-block;
	margin: 0 30px 30px 0;
	text-align: center;
	line-height: 140px;
	font-size: 2rem;
}

.amount ul a:nth-child(3) li, .amount ul a:nth-child(6) li{
    margin-right: 0;
}

.amount ul a:nth-child(n+4) li {
    margin-bottom: 0;
}

.amount ul li:hover {
	border-color: white;
}

.amount ul li a:target {
	border-color: white;
}

.amount .result {
	position: absolute;
	right: 0;
	top: 70px;
	height: 220px;
	width: 250px;
}

.amount .result p{
	padding-top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	font-size: 1.6rem;
	background-color: #BCCBCE;
	height: 0px;
	overflow: hidden;
	z-index: 3;
	transition: all 1s ease-out;
}

#age1:target {
	padding-top: 20px;
	height: 100%;
}

#age1:target #button1{
	border-color: white;
}

#age2:target {
	padding-top: 20px;
	height: 100%;
}

#age3:target {
	padding-top: 20px;
	height: 100%;
}

#age4:target {
	padding-top: 20px;
	height: 100%;
}

#age5:target {
	padding-top: 20px;
	height: 100%;
}

#age6:target {
	padding-top: 20px;
	height: 100%;
}

.amount .result p span, .amount .result p a{
	display: block;
}

.amount .result p span{
	font-size: 4rem;
}

.amount .result p a {
	padding-right: 30px;
	text-align: right;
	text-decoration: underline;
}

.amount .tips {
	position: absolute;
	right: 0;
	top: 70px;
	height: 300px;
	width: 250px;
	background-color: #BCCBCE;
	overflow: hidden;
	height: 0;
	z-index: 2;
	transition: all 1s ease-out;
	transition-delay: 0.8s;
}

#agetip:target {
 	height: 350px;
}

.tips h3 {
	text-align: center;
	margin-top: 10px;
	font-size: 1.4rem;
	text-decoration: underline;
}

.tips ol {
	margin-left: 35px;
	width: 80%;
}